.navbar {
    background-color: black;
}

.btn-outline-success {
    color: #d36e70;
    border-color: #d36e70;
}

.jumbotron {
    background-color: #d36e70;
}

.carousel .carousel-item {
    height: 300px;
  }


